body{
  text-align: center;
  background-image: url(background.png);
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

ul{
  text-decoration: none;
  list-style-type: none;
  padding: inherit;
}
